*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
.header{
    width: 100%;
    display: flex;
    height: 80px;
    justify-content: space-between;
    background-color: palevioletred;
    align-items: center;

}
.logo{
    width:80px;
    display: flex;
    border: 2px solid palevioletred;
    border-radius: 75%;
    justify-content: center;
    align-items: center;
    margin-left: 30px;

}
.menu{
    justify-content: center;
    display: flex;
    /* align-items: center; */

}
.menus{
    list-style: none;
    display: flex;
    margin: 30px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
     font-size: 20px;
}
.menus:hover{
    cursor: pointer;
    color: blue;
    font-size: 21px;
}
#touch{
     padding: 10px 15px;
     background-color: black;
     color: azure;
     border-radius: 10px;
     cursor: pointer;
}
touch:hover{
    color: blue;

}
.bio{
  width: 90%;
  height: 470px;
  justify-content: space-around;
  display: flex;  
  margin: auto;
  margin-top: 65px;
}
.mypic{
    width: 400px;
    height: 400px;
    border: 2px solid rgb(227, 237, 237);
    border-radius: 50% ;
    box-shadow: 5px 10px 20px rgb(146, 141, 141);
}

.left{
    margin-top: 140px;
    font-size: 40px;
    font-weight: 700;
   text-align: center;
}
#orange{
    color: orangered;
}
span{
    color: orangered;
}
p{
    font-size: 14px;
    margin: 20px;
    font-weight: 400;
}
hr{
    width: 80%;
   margin: auto;
}
.experience{
    width: 100%;
    height: 65vh;
}
h1{
    margin-top: 20px;
    font-size: 50px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.hr_line{
    margin: auto;
    margin-top: 70px;
    width: 70%;
    height: 2px;
    background-color:black;
    display: flex;
    justify-content: space-between;
}
.vr_line{
    width: 2px;
    height:60px;
    background-color: black;
}
.icons{
    width: 40px;
    position: relative;
    top: -50px;
    left:-17px
}
.vr_role{
    font-size: 25px;
    font-weight: 1000;
    width: 200px;
    margin-top: 30px;
    position: relative;
    left:-50px;

}
.role{  
 color: rgb(111, 41, 176);
}
.vr_description{
    font-size: 14px;
    width: 200px;
    margin-top: 20px;
    font-weight: 400;
    position: relative;
    left:-50px;
   
}
.projects{
    width: 100%;
    height: 100vh;
}
.slider{
    width: 80%;
    height: 70vh;
    background-color: black;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:10px ;
   box-shadow: 10px 20px 15px rgb(74, 72, 72);

}

.proj_image{
width: 100%;
object-fit: cover;


}
.img_container{
    display: flex;
    /* transform: translateX(-100%); */
}
.btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 30px;
    opacity: 0.5;
    cursor: pointer;
}
.prev{
    left: 10px;
}
.next{
    right: 10px;
}
.btn:hover{
    opacity: 1;
}

footer{
    width: 100%;
    height: 40vh;
    background-color: black;
    margin-top: 40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
h2{
    color: white;
    font-size: 40px;
    font-weight: 700;
}
.media{
    color: white;
    font-size: 30px;
    margin-top: 20px;
    transition: all 0.3s;
}
.media:hover{
    color: rgb(201, 12, 201);
    font-size: 32px;
    
}
.social{
    display: flex;
    gap: 30px;
}